.card-latest-vehicles .mat-mdc-card-content {
  display: flex;
  gap: 15px;
}

.card-latest-vehicles .mat-mdc-card-content img {
  width: 220px;
  height: 120px;
  object-fit: cover;
}

.card-latest-vehicles tr td:first-child {
  font-weight: bold;
}
